<a href="https://colab.research.google.com/github/yulandariarsyad/Pusat-Studi-Data-Sains-UAD/blob/main/Modul_4_DataFrame_Bagian_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Definisi Dataframe dan Module Pandas

---

Pandas adalah sebuah librari berlisensi BSD dan open source yang menyediakan struktur data dan analisis data yang mudah digunakan dan berkinerja tinggi untuk bahasa pemrograman Python. Dengan kata lain, Pandas adalah librari analisis data yang memiliki struktur data yang diperlukan untuk membersihkan data mentah ke dalam sebuah bentuk yang cocok untuk analisis (yaitu tabel). 

Pandas melakukan tugas penting seperti menyelaraskan data untuk perbandingan dan penggabungan set data, penanganan data yang hilang, dan lain-lain, itu telah menjadi sebuah librari de facto untuk pemrosesan data tingkat tinggi dalam Python (yaitu statistik). Banyak format file yang dapat dibaca menggunakan Pandas, seperti file .txt, .csv, .tsv dan lainnya

Struktur data dasar pandas dinamakan DataFrame, yaitu sebuah koleksi kolom berurutan dengan nama dan jenis, dengan demikian merupakan sebuah tabel yang tampak seperti database dimana sebuah baris tunggal mewakili sebuah contoh tunggal dan kolom mewakili atribut tertentu. Dengan adanya fitur dataframe memudahkan untuk membaca sebuah file dan menjadikannya table, kita juga dapat mengolah suatu data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya yang terdapat pada SQL

### Import Pandas

In [ ]:
import pandas as pd

pd adalah nama alias yang standar dan umum digunakan untuk mengaliaskan pandas

# Membuat Dataframe Menggunakan List & Dictionary

---

In [ ]:
pd.DataFrame(data={'Makanan': ['Sate Ayam', 'Ayam Geprek'], 'Harga': [15000, 10000]})

       Makanan  Harga
0    Sate Ayam  15000
1  Ayam Geprek  10000

Parameter data akan menerima dictionary (salah satu struktur data dalam pemrograman python). Dictionary sendiri terdiri dari pasangan key dan value. Dalam hal ini, key berupa 'Makanan' dan 'Harga'. Sedangkan Values berupa ['Sate Ayam', 'Ayam geprek'] dan [15000, 10000]. Key dan values akan dipisahkan dengan tanda titik berganda (:). Perlu diketahui bahwa values dalam DataFrame berupa list. 

*   Jumlah data untuk setiap list dalam key harus sama.

*   Indeks yang digunakan dalam DataFrame berupa integer, tetapi bisa dibuat dengan indeks tertentu yang sudah ditetapkan

In [ ]:
pd.DataFrame(data={'kakak': ['sudah', 'sudah'], 'Adik': ['sudah', 'belum']}, index= ['Kuliah', 'Menikah'])

         kakak   Adik
Kuliah   sudah  sudah
Menikah  sudah  belum

Contoh di atas ialah membuat dua parameter, yaitu parameter data dan parameter index yang memuat dua values atau list dimasing-masing key. Untuk indeksnya tidak lagi berupa integer melainkan sudah ditetapkan, dalam hal ini 'Kuliah' dan 'Menikah'. Dimana 'Kuliah' akan berkorelasi dengan data pertama, dan 'Menikah' akan berkorelasi dengan data kedua

# Membuka Dataframe dari file csv

---

Dalam dunia pemrograman, file .csv (comma separated value) seringkali digunakan untuk merepresentasikan sebuah data. Cara membuatnya dengan menggunakan teks editor biasa, kemudian menyimpannya ke dalam ekstensi .csv. File .csv juga bisa didapatkan dengan cara mengekspor sebuah file MS Excel atau aplikasi pengolah data lainnya. File .csv dapat digunakan, diolah, diekspor/impor, dan dimodifikasi menggunakan berbagai macam perangkat lunak dan bahasa pemrograman, misalnya Microsoft Office, Notepad, UltraEdit, MySql, Oracle, OpenOffice, vim, dll.

### Contoh Memanggil Sebuah File dalam Format csv

In [ ]:
import pandas as pd
from google.colab import files
filenya = files.upload()

Saving Nilai_ujian.csv to Nilai_ujian.csv

In [ ]:
filenya

{'Nilai_ujian.csv': b'Nilai;Kelas\r\n75;4\r\n80;4\r\n85;4\r\n90;4\r\n95;4\r\n85;3\r\n70;3\r\n75;3\r\n80;3\r\n85;3\r\n75;2\r\n90;2\r\n90;2\r\n95;2\r\n80;2\r\n85;1\r\n90;1\r\n95;1\r\n85;1\r\n75;1\r\n'}

In [ ]:
import io
df = pd.read_csv(io.StringIO(filenya['Nilai_ujian.csv'].decode('utf-8')))
print(df)

## Membuka Dataframe Dari File excel

  XLSX merupakan format file microsoft excel.Pengolahan data dengan microsoft excel cukup popular. Beragam fungsi bisa kita ciptakan dengan excel macro untuk melakukan bebagai macam penyajian data, baik untuk tujuan statistik dan lain sebagainya.

  Pandas membantu kamu menyederhakan proses pengolahan data, salah satunya data dalam format .XLSX, sebelum menggunakan pandas buat terlebih dahulu environment untuk meng-enkapsulasi project yang akan kita buat.

# Contoh membuka/membaca Dataframe dari file Excel

In [ ]:
import pandas as pd
from google.colab import files
filenya = files.upload()

Saving data kampus.xlsx to data kampus.xlsx

    Name    Alamat
0  faqih   Bandung
1    ina   Jakarta
2   doni  Surabaya
3   rono      Bali

# Menyimpan Dataframe ke dalam file csv

In [ ]:
data = {'nama': ['bayu','indra', 'devi'],
        'jenis_kelamin': ['L','L','P'],
        'usia':[21,24,23]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    21
1  indra             L    24
2   devi             P    23

In [ ]:
df.to_csv('data_peserta.csv')

# Menampilkan Heading Dataframe dan Tail Dataframe

Kegunaan fungsi head pada pandas adalah untuk mendapatkan n baris data teratas. Sebaliknya, fungsi tail digunakan saat kita perlu mengambil n baris terakhir dari data.

# Heading Dataframe

 Fungsi ini mengembalikan n baris pertama untuk objek berdasarkan posisi. Ini berguna untuk menguji dengan cepat apakah objek Anda memiliki tipe data yang tepat di dalamnya.

Untuk nilai negatif n, fungsi ini mengembalikan semua baris kecuali n baris terakhir, setara dengan df [: - n].

Parameter

    nint, default 5

        Jumlah baris untuk dipilih.

Kembali

    tipe yang sama dengan pemanggil

        N baris pertama dari objek pemanggil

In [ ]:
df = pd.DataFrame({'animal':['alligator','harimau','monyet','singa','hiu','buaya','zebra']})
df

      animal
0  alligator
1    harimau
2     monyet
3      singa
4        hiu
5      buaya
6      zebra

In [ ]:
df.head(3)

      animal
0  alligator
1    harimau
2     monyet

# Tail DataFrame

Kembalikan n baris terakhir.

Fungsi ini mengembalikan n baris terakhir dari objek berdasarkan posisi. Ini berguna untuk memverifikasi data dengan cepat, misalnya, setelah menyortir atau menambahkan baris.

Untuk nilai negatif n, fungsi ini mengembalikan semua baris kecuali baris pertama, setara dengan df [n:].

Parameter

    nint, default 5

        Jumlah baris untuk dipilih.

Kembali

    jenis penelepon

        N baris terakhir dari objek pemanggil.

In [ ]:
df = pd.DataFrame({'animal':['alligator','harimau','monyet','singa','hiu','buaya','zebra']})
df

      animal
0  alligator
1    harimau
2     monyet
3      singa
4        hiu
5      buaya
6      zebra

In [ ]:
df.tail(3)

  animal
4    hiu
5  buaya
6  zebra